<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    {{- template "partials/scripts" .}}
</head>

<body hx-ext="shoelace">
    {{- template "partials/login-dialog" .}}
    {{- template "partials/signup-dialog" .}}
    <div hx-ext="debug" id="real-body">
    <main id="main" class="center-content">
        <div class="text-3xl font-bold">
            You're not logged in.
        </div>
        <div>
            <sl-button variant="text" id="open-login-dialog-center" href="#login-dialog">
                <sl-icon name="box-arrow-in-right"></sl-icon>
                Log In
            </sl-button>
            <sl-button variant="text" href="/">
                <sl-icon name="house-heart"></sl-icon>
                Discover
            </a>
        </div>
    </main>
    </div>
</body>

</html>