<main id="center" class="chat-body">
    <h2 class="anchor-header">
        Groups
        <sl-button href="#new-group-dialog" size="small" variant="success">
            <sl-icon name="plus" slot="suffix"></sl-icon>
            Create
        </sl-button>
    </h2>
    <sl-carousel pagination navigation mouse-dragging id="my-group-list" class="card-group-container">
        {{$this := .}}
        {{- range $iPage, $groupPage := (paginateGroups (userMemberships $this.User.Id) 3) }}
        <sl-carousel-item class="card-group">
            {{- range $i, $group := $groupPage}}
            {{$member := userMemberOf $group.Id $this.User.Id}}
            {{$rights := userRightsOf $group.Id $this.User.Id}}
            <a href="/chat/groups/{{$group.Id}}">
                <sl-card id="my-group-{{$group.Id}}" data-id="{{$group.Id}}" class="group-card">
                    <h2 class="group-card-header" slot="header">
                        <sl-avatar class="prefix" shape="rounded">
                            <sl-icon slot="icon" name="people-fill"></sl-icon>
                        </sl-avatar>
                        <div class="suffix">
                            <div class="groupname" title="{{$group.Nick}}">
                                {{- $group.Nick -}}
                            </div>
                            {{- if or $member.IsOwner $rights.ChangeGroup}}
                            <div class="group-actions">
                                {{template "partials/group-actions" $group}}
                            </div>
                            {{- end}}
                        </div>
                    </h2>
                    {{$group.Description}}
                </sl-card>
            </a>
            {{- end}}
        </sl-carousel-item>
        {{- end}}
    </sl-carousel>
</main>