<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    {{- template "partials/scripts" .}}
</head>

<body hx-ext="shoelace">
    {{- template "partials/settings-dialog" .}}
    {{- template "partials/new-group-dialog" .}}
    {{- if ne .Group nil}}
        {{- template "partials/group-settings-dialog" .}}
    {{- end}}
    <div hx-ext="debug" class="real-body">
        {{- template "partials/app-header" .}}
        <div id="content">
        {{- if ne .Group nil}}
            {{- if eq .Member nil}}
            {{- template "partials/app-group-join" .}}
            {{- else}}
            {{- template "partials/app-group" .}}
            {{- end}}
        {{- else}}
        {{- template "partials/app-home" .}}
        {{- end}}
        </div>
    </div>
</body>

</html>