<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    {{- template "partials/scripts" .}}
</head>

<body hx-ext="shoelace">
    {{- template "partials/settings-dialog" .}}
    {{- template "partials/new-group-dialog" .}}
    <div hx-ext="debug" class="flex flex-col h-full overflow-hidden">
        {{- template "partials/app-header" .}}
        <div id="content">
        {{- if ne .Group nil}}
        {{- template "partials/chat-group" .}}
        {{- else}}
        {{- template "partials/app-home" .}}
        {{- end}}
        </div>
    </div>
</body>

</html>