<sl-dropdown placement="bottom-end">
    <sl-button id="avatar-button" variant="text" slot="trigger">
        <span>
            {{with .User}}
            {{.Nick}}
            {{else}}
            Guest
            {{end}}
        </span>
        <sl-avatar
            class="w-10 -mr-2 ml-4"
            image="/static/assets/default-avatar.png"
            shape="circle"
        ></sl-avatar>
    </sl-button>
    <sl-menu>
        {{if ne .User nil}}
        {{if .IsChatPage }}
        <a href="#settings-dialog">
            <sl-menu-item>
                <sl-icon slot="prefix" name="gear"></sl-icon>
                Settings
            </sl-menu-item>
        </a>
        {{else}}
        <a href="/settings">
            <sl-menu-item>
                <sl-icon slot="prefix" name="gear"></sl-icon>
                Settings
            </sl-menu-item>
        </a>
        {{end}}
        {{end}}

        <sl-divider></sl-divider>

        {{if .IsChatPage }}
        <a href="/chat">
            <sl-menu-item>
                <sl-icon slot="prefix" name="chat-right-text"></sl-icon>
                Chat
            </sl-menu-item>
        </a>
        <a href="/">
            <sl-menu-item>
                <sl-icon slot="prefix" name="house-heart"></sl-icon>
                Discover
            </sl-menu-item>
        </a>
        {{else}}
        <a href="/chat">
            <sl-menu-item>
                <sl-icon slot="prefix" name="house"></sl-icon>
                Chat
            </sl-menu-item>
        </a>
        {{end}}

        {{if ne .User nil}}
        <sl-menu-item hx-put="/account/logout" hx-swap="innerHTML">
            <sl-icon slot="prefix" name="box-arrow-right"></sl-icon>
            Log Out
        </sl-menu-item>
        {{else}}
        <a href="#login-dialog">
            <sl-menu-item>
                <sl-icon slot="prefix" name="person-circle"></sl-icon>
                Log In
            </sl-menu-item>
        </a>
        {{end}}
    </sl-menu>
</sl-dropdown>