<sl-dialog {{if .OpenChangeEmail}} open {{- end}} label="Dialog" id="change-email-dialog">
    <h1 slot="label" class="aligned">
        <sl-icon name="mailbox"></sl-icon>
        Change email
    </h1>
    <form id="change-email-form" name="change-email-form" hx-put="/change-email" hx-swap="outerHTML"
        hx-target="#change-email-error">
        <sl-input label="Current password" type="password" autocomplete="password" id="change-email-current-password" name="current-password" required password-toggle>
        </sl-input>

        <sl-input label="New email" type="text" id="new-email" name="new-email" required>
        </sl-input>
        <sl-alert id="change-email-error" variant="warning"></sl-alert>
    </form>
    <div slot="footer" class="dialog-footer">
        <div>
            <sl-button form="change-email-form" variant="primary" type="submit">Change email</sl-button>
        </div>
    </div>
</sl-dialog>