<sl-dialog {{if .OpenChangePhone}} open {{- end}} label="Dialog" id="change-phone-dialog">
    <h1 slot="label" class="aligned">
        <sl-icon name="telephone"></sl-icon>
        Change phone
    </h1>
    <form id="change-phone-form" name="change-phone-form" hx-put="/change-phone" hx-swap="outerHTML"
        hx-target="#change-phone-error">
        <sl-input label="Current password" type="password" id="change-phone-current-password" name="current-password" required password-toggle>
        </sl-input>

        <sl-input label="New phone" type="tel" id="new-phone" name="new-phone" required>
        </sl-input>
        <sl-alert id="change-phone-error" variant="warning"></sl-alert>
    </form>
    <div slot="footer" class="dialog-footer">
        <div>
            <sl-button form="change-phone-form" variant="primary" type="submit">Change phone</sl-button>
        </div>
    </div>
</sl-dialog>