<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    {{template "partials/scripts" .}}
</head>

<body hx-ext="shoelace">
    {{template "partials/settings-dialog" .}}
    {{template "partials/new-group-dialog" .}}
    <div class="flex flex-col h-full">
        <header id="header" class="p-4 bg-n200 flex justify-between">
            <nav class="flex items-center text-xl">
                <!-- TODO: implement header panel with servers, friends and settings -->
            </nav>
            <nav class="flex items-center">
                {{template "partials/avatar-context-menu" .}}
            </nav>
        </header>
        <div id="content" class="bg-n50 flex flex-row h-full">
            {{if ne .Group nil}}
            <div id="chat" class="chat-body">
                <main id="chat" class="chat-body">
                    {{range $i, $message := messagesOf .Group.Id}}
                    {{template "partials/message" $message}}
                    {{end}}
                </main>
                <div class="chat-input">
                    <sl-input filled placeholder="Write to {{.Group.Id}}"></sl-input>
                </div>
            </div>
            <div id="sidebar-left" class="chat-sidebar">
                {{range $i, $member := membersOf .Group.Id}}
                {{template "partials/group-member" $member}}
                {{end}}
            </div>
            {{else}}
            <main id="center" class="chat-body">
                <h2 class="anchor-header">
                    Groups
                    <sl-button href="#new-group-dialog">Create</sl-button>
                </h2>
                <sl-carousel pagination navigation mouse-dragging id="my-group-list" class="card-group-container">
                    {{range $iPage, $groupPage := (paginateGroups (memberOf .User.Id) 3) }}
                    <sl-carousel-item class="card-group">
                        {{range $i, $group := $groupPage}}
                        {{template "partials/group-card" $group}}
                        {{end}}
                    </sl-carousel-item>
                    {{end}}
                </sl-carousel>
            </main>
            {{end}}
        </div>
    </div>
</body>

</html>