<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    {{template "partials/scripts" .}}
</head>

<body hx-ext="shoelace" class="max-h-screen h-screen overflow-hidden">
    {{template "partials/settings-dialog" .}}
    <div class="flex flex-col h-full">
        <header id="header" class="bg-n300 flex h-fit justify-between p-2">
            <nav class="flex items-center text-xl">
                <!-- TODO: implement header panel with servers, friends and settings -->
                <sl-tooltip content="Group chats" placement="bottom-start">
                    <sl-icon-button name="chat"></sl-icon-button>
                </sl-tooltip>
                <sl-tooltip content="Friends" placement="bottom-start">
                    <sl-icon-button name="people"></sl-icon-button>
                </sl-tooltip>
            </nav>
            <nav class="flex items-center">
                {{template "partials/avatar-context-menu" .}}
            </nav>
        </header>
        <div id="content" class="bg-n200 flex flex-row h-full">
            <div id="center" class="flex flex-col h-full w-full">
                {{if ne .Group nil}}
                <main id="chat" class="p-2 h-full">
                    {{messagesOf .Group.Id}}
                </main>
                {{end}}
            </div>
            <div id="right" class="bg-n100 flex h-full w-56 visible max-[420px]:hidden">
                <!-- TODO: implement friends list -->
            </div>
        </div>
    </div>
</body>

</html>