{{$variant := "neutral"}}
{{- if eq .Method "get"}}{{$variant = "primary"}}{{end}}
{{- if eq .Method "post"}}{{$variant = "success"}}{{end}}
{{- if eq .Method "put"}}{{$variant = "warning"}}{{end}}
{{- if eq .Method "delete"}}{{$variant = "danger"}}{{end}}
<div class="http-method">
    <div class="aligned">
        <sl-tag size="medium" variant="{{$variant}}" class="method uppercase">{{.Method}}</sl-tag>
        <code class="w-full overflow-y-auto path">{{.Path}}</code>
    </div>
    <div class="description">
        {{- .Description -}}
    </div>
    <h5 class="anchor-header">Request</h5>
    <div class="request">
    {{- template "partials/docs-fields" .Request}}
    </div>
    <h5 class="anchor-header">Response</h5>
    <div class="response">{{.Response}}</div>
</div>