<sl-dialog id="group-settings-dialog-{{.Group.Id}}" class="fullscreen-base" label="Group settings dialog for {{.Group.Nick}}">
    <span slot="label" class="aligned">
        <sl-icon name="people"></sl-icon>
        Group settings - {{.Group.Nick}}
    </span>
    <div>
        <h1 class="anchor-header">
            <sl-icon name="person"></sl-icon>
            General settings
        </h1>
        <sl-alert open variant="primary">
            <sl-icon slot="icon" name="info-circle"></sl-icon>
            {{- "" -}} You can invite more people. Share the link {{- "" -}}
            <sl-copy-button id="copy-invite" hoist value="{{groupLink .Group}}">
                {{- "" -}}
            </sl-copy-button>{{- "" -}}.{{- "" -}}
        </sl-alert>
        <h4 slot="header" class="aligned">
            <sl-icon name="pen"></sl-icon>
            Group profile
        </h4>
        <form id="group-change-form" hx-put="/groups/{{.Group.Id}}/change" hx-swap="outerHTML"
            hx-target="#group-change-error">
            <sl-input label="Nick" type="text" id="change-group-nick" name="nick" required
                value="{{.Group.Nick}}"></sl-input>
            <sl-input label="Name" type="text" autocomplete="username" id="change-group-name"
                name="name" required value="{{.Group.Name}}">
            </sl-input>
            <sl-input label="Password" password-toggle type="password" autocomplete="new-password"
                id="change-group-password" name="password" {{if .Group.Password}}value="{{.Group.Password}}"{{end}}></sl-input>
            <sl-textarea label="Description" id="change-group-description" name="description"
                value="{{.Group.Description}}"></sl-textarea>
            <sl-select label="Mode" id="change-group-mode" name="mode" value="{{.Group.Mode}}" required>
                <sl-option value="private">Private</sl-option>
                <sl-option value="public">Public</sl-option>
            </sl-select>
            <sl-alert id="group-change-error" variant="warning"></sl-alert>
            <div class="dialog-footer">
                <div>
                    <sl-button type="submit" form="group-change-form" variant="primary">Save</sl-button>
                </div>
            </div>
        </form>
        {{/*TODO: delete group button*/}}
        <!-- <sl-card>
            <h1 slot="header" class="aligned">
                <sl-icon name="exclamation-triangle"></sl-icon>
                Danger zone
            </h1>
            <div class="flex gap-2">
                <sl-button variant="danger" href="#group-delete-dialog">Delete account</sl-button>
            </div>
        </sl-card> -->
    </div>
</sl-dialog>