<header id="header">
    <nav>
        <sl-dropdown class="aligned" id="page-nav">
            <sl-icon-button name="list" slot="trigger"></sl-icon-button>
            <sl-menu>
                <a href="/">
                    <sl-menu-item>
                        <sl-icon name="house-heart" slot="prefix"></sl-icon>
                        Discover
                    </sl-menu-item>
                </a>
                <a href="/chat">
                    <sl-menu-item>
                        <sl-icon name="house" slot="prefix"></sl-icon>
                        Vibely
                    </sl-menu-item>
                </a>
                <a href="/docs">
                    <sl-menu-item>
                        <sl-icon name="code" slot="prefix"></sl-icon>
                        Documentation
                    </sl-menu-item>
                </a>
                <a href="#footer">
                    <sl-menu-item>
                        <sl-icon name="three-dots" slot="prefix"></sl-icon>
                        More
                    </sl-menu-item>
                </a>
            </sl-menu>
        </sl-dropdown>
    </nav>
    <nav>
        {{- template "partials/avatar-context-menu" .}}
    </nav>
</header>