<header id="header" class="p-4 bg-n50 flex justify-between">
    <nav>
        <sl-button variant="text" href="/">Home</a>
        <sl-button variant="text" href="/api">API</a>
    </nav>
    <nav>
        <sl-button id="open-login-dialog">
            <sl-icon slot="prefix" name="person-circle"></sl-icon>
            Log In
        </sl-button>
        <script>
            document.getElementById("open-login-dialog")
                .addEventListener("click", () => {
                    const dialog = document.getElementById("login-dialog")
                    dialog.open = true
                })
        </script>
    </nav>
</header>
