<sl-dialog label="Dialog" id="login-dialog">
    <h1 slot="label">Login to Your Account</h1>
    <form id="login-form" class="flex flex-col gap-4" hx-post="/login" hx-swap="outerHTML" hx-target="#auth-error" hx-ext="json-enc">
        <div>
            <label for="email">Email</label>
            <sl-input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Password</label>
            <sl-input type="password" id="password" name="password" required>
        </div>
        <sl-alert id="auth-error" variant="warning"></sl-alert>
    </form>
    <div slot="footer">
        <sl-button form="login-form" variant="primary" type="submit">Login</sl-button>
    </div>
</sl-dialog>