<sl-dialog {{if .Open}} open {{- else}} {{- end}} label="Dialog" id="login-dialog">
    <h1 slot="label">Log In</h1>
    <form id="login-form" class="flex flex-col gap-4" hx-post="/login" hx-swap="none" hx-target="#auth-error"
        hx-ext="json-enc">
        <div>
            <label for="email">Email</label>
            <sl-input type="email" id="email" name="email" required>
            </sl-input>
        </div>

        <div>
            <label for="password">Password</label>
            <sl-input type="password" id="password" name="password" required>
            </sl-input>
        </div>
        <sl-alert id="auth-error" variant="warning"></sl-alert>
    </form>
    <div slot="footer" class="flex flex-col gap-2">
        <div class="flex justify-end items-center">
            Not a member?
            <sl-button variant="text" hx-target="#login-dialog" hx-swap="outerHTML"
                hx-get="/partials/register-dialog?open=true">Sign Up</sl-button>
        </div>
        <div class="flex justify-end items-center">
            <sl-button form="login-form" variant="primary" type="submit">Log In</sl-button>
        </div>
    </div>
</sl-dialog>

<script>
    document.addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.xhr.response) {
            const response = JSON.parse(event.detail.xhr.response);
            if (response.token) {
                localStorage.setItem('jwtToken', response.token);
                window.location.href = '/';
            }
        }
    });
</script>
