<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    {{- template "partials/scripts" .}}
</head>

<body hx-ext="shoelace">
    {{- template "partials/login-dialog" .}}
    {{- template "partials/signup-dialog" .}}
    <div hx-ext="debug" class="real-body">
        {{- template "partials/header" .}}
        {{- if .CenterContent}}
        <main id="main" class="center-content">
            {{- if .TokenError}}
            {{- template "partials/danger" .}}
            {{- end}}
            {{- embed}}
        </main>
        {{- else}}
        <main id="main">
            {{- if .TokenError}}
            {{- template "partials/danger" .}}
            {{- end}}
            {{- embed}}
        </main>
        {{- end}}
        {{- template "partials/footer" .}}
    </div>
</body>

</html>