<sl-dialog {{if .Open}} open {{- else}} {{- end}} label="Dialog" id="register-dialog">
    <h1 slot="label">Sign Up</h1>
    <form id="register-form" class="flex flex-col gap-4" hx-post="/register" hx-swap="outerHTML" hx-target="#auth-error"
        hx-ext="json-enc">
        <div>
            <label for="name">Full Name</label>
            <sl-input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="tag">Tag</label>
            <sl-input type="text" id="tag" name="tag" required>
        </div>

        <div>
            <label for="email">Email</label>
            <sl-input type="email" id="email" name="email">
        </div>

        <div>
            <label for="phone">Phone</label>
            <sl-input type="tel" id="phone" name="phone">
        </div>

        <div>
            <label for="password">Password</label>
            <sl-input type="password" id="password" name="password" required>
        </div>

        <div>
            <label for="avatar">Avatar URL (optional)</label>
            <sl-input id="avatar" name="avatar">
        </div>
        <sl-alert id="auth-error" variant="warning"></sl-alert>
    </form>
    <div slot="footer" class="flex flex-col gap-2">
        <div class="flex justify-end items-center">
            Already a member?
            <sl-button variant="text" hx-target="#register-dialog" hx-swap="outerHTML"
                hx-get="/partials/login-dialog?open=true">Log In</a>
        </div>
        <div class="flex justify-end items-center">
            <sl-button form="register-form" variant="primary" type="submit">Sign Up</sl-button>
        </div>
    </div>
</sl-dialog>