{{if eq .User nil}}
<sl-dialog {{if .OpenRegister}} open {{- end}} label="Dialog" id="register-dialog">
    <h1 slot="label" class="aligned">
        <sl-icon name="box-arrow-in-right"></sl-icon>
        Sign Up
    </h1>
    <form id="register-form" name="register-form" hx-post="/register" hx-swap="outerHTML"
        hx-target="#auth-error">
        <sl-input label="Name" type="text" id="register-name" name="name" required></sl-input>
        <sl-input label="Tag" type="text" autocomplete="username" id="register-tag" name="tag" required></sl-input>
        <sl-input label="Email" type="email" autocomplete="email" id="register-email" name="email" required></sl-input>
        <sl-input label="Phone" type="tel" autocomplete="tel" id="register-phone" name="phone"></sl-input>
        <sl-input label="Password" password-toggle type="password" autocomplete="new-password" id="register-password" name="password"
            required></sl-input>
        <sl-input label="Confirm password" password-toggle type="current-password" id="register-confirm-password"
            name="confirm-password" required></sl-input>
        <!--
            <sl-input label="Avatar URL" id="avatar" name="avatar">
        -->
        <sl-alert id="auth-error" variant="warning"></sl-alert>
    </form>
    <div slot="footer" class="dialog-footer">
        <div>
            Already a member?
            <sl-button variant="text" href="#login-dialog">Log In</a>
        </div>
        <div>
            <sl-button form="register-form" variant="primary" type="submit">Sign Up</sl-button>
        </div>
    </div>
</sl-dialog>
{{end}}
