<div class="column gap-4">
    <h2 class="anchor-header">
        <sl-icon name="person"></sl-icon>
        Account settings
    </h2>
    {{template "partials/change-email-dialog" .}}
    {{template "partials/change-password-dialog" .}}
    {{template "partials/change-phone-dialog" .}}
    {{template "partials/account-delete-dialog" .}}
    <sl-card>
        <h1 slot="header" class="aligned">
            <sl-icon name="pen"></sl-icon>
            Profile
        </h1>
        <div class="column gap-4">
            <form id="change-name-form" hx-put="/change-name">
                <sl-input label="Name" type="text" id="new-name" name="new-name" value="{{.User.Name}}"></sl-input>
                <sl-input label="Tag" type="text" id="new-tag" name="new-tag" value="{{.User.Tag}}"></sl-input>
            </form>
            <div class="dialog-footer">
                <div>
                    <sl-button type="submit" form="change-name-form" variant="primary">Save</sl-button>
                </div>
            </div>
        </div>
    </sl-card>
    <sl-card>
        <h1 slot="header" class="aligned">
            <sl-icon name="mailbox"></sl-icon>
            Email
        </h1>
        <div class="flex justify-between">
            {{hideEmail .User.Email}}
            <sl-button variant="primary" href="#change-email-dialog">Change email</sl-button>
        </div>
    </sl-card>
    <sl-card>
        <h1 slot="header" class="aligned">
            <sl-icon name="telephone"></sl-icon>
            Phone
        </h1>
        <div class="flex justify-between">
            {{hidePhone .User.Phone}}
            <sl-button variant="primary" href="#change-phone-dialog">Change phone</sl-button>
        </div>
    </sl-card>
    <sl-card>
        <h1 slot="header" class="aligned">
            <sl-icon name="lock"></sl-icon>
            Password
        </h1>
        <div class="flex gap-2">
            <sl-button variant="primary" href="#change-password-dialog">Change password</sl-button>
        </div>
    </sl-card>
    <sl-card>
        <h1 slot="header" class="aligned">
            <sl-icon name="exclamation-triangle"></sl-icon>
            Danger zone
        </h1>
        <div class="flex gap-2">
            <sl-button variant="danger" href="#account-delete-dialog">Delete account</sl-button>
        </div>
    </sl-card>
</div>