{{- template "partials/settings-dialog" . -}}
{{- template "partials/new-group-dialog" . -}}
<div id="real-body">
    {{- template "partials/app-header" . -}}
    {{- template "partials/app-home" . -}}
</div>
