<div class="p-page">
    <h1>
        <sl-icon name="box-arrow-in-right"></sl-icon>
        Log In
    </h1>
    <form
        id="login-form"
        name="login-form"
        hx-post="/account/login"
        hx-swap="innerHTML"
        hx-target="#login-error"
    >
        <sl-input
            autofocus
            label="Email"
            type="email"
            autocomplete="email"
            id="login-email"
            name="email"
            inputmode="email"
            required
        >
        </sl-input>
        <sl-input
            label="Password"
            type="password"
            autocomplete="current-password"
            name="password"
            id="login-password"
            required
            password-toggle
        >
            <sl-icon slot="show-password-icon" name="eye-fill"></sl-icon>
            <sl-icon slot="hide-password-icon" name="eye-slash-fill"></sl-icon>
        </sl-input>
        <div id="login-error"></div>
        <div class="form-footer">
            <div>
                Not a member?
                <sl-button href="/signup">Sign Up</sl-button>
            </div>
            <div>
                <sl-button form="login-form" variant="primary" type="submit"
                >Log In</sl-button>
            </div>
        </div>
    </form>
</div>
