<sl-dialog label="Dialog" id="account-delete-dialog">
    <span slot="label" class="aligned">
        <sl-icon name="exclamation-triangle-fill"></sl-icon>
        Delete account
    </span>
    <form
        autocomplete="off"
        id="account-delete-form"
        name="account-delete-form"
        hx-delete="/account"
        hx-swap="innerHTML"
        hx-target="#account-delete-error"
    >
        <sl-input
            autofocus
            label="Current password"
            type="password"
            id="account-delete-current-password"
            name="current-password"
            required
            password-toggle
            autocomplete="password"
        >
        <sl-icon slot="show-password-icon" name="eye-fill"></sl-icon>
        <sl-icon slot="hide-password-icon" name="eye-slash-fill"></sl-icon>
        </sl-input>
        <sl-input
            label="Confirm name ({{.User.Name}})"
            id="account-delete-confirm-name"
            name="confirm-name"
            required
            type="text"
            autocomplete="off"
        >
        </sl-input>
        <div id="account-delete-error"></div>
    </form>
    <div slot="footer" class="dialog-footer">
        <div>
            <sl-button form="account-delete-form" variant="danger" type="submit"
            >Delete account</sl-button>
        </div>
    </div>
</sl-dialog>
