<header id="header" class="navbar">
    <nav class="navbar-start">
        <a class="btn btn-ghost text-base font-bold gap-2 normal-case text-white hover:text-white" href="/" aria-label="{{.AppName}} home">
            <span class="brand-logo" aria-hidden="true"></span>
            <span>{{.AppName}}</span>
        </a>
    </nav>
    <nav class="navbar-end">
        {{- template "partials/avatar-context-menu" .}}
    </nav>
</header>
