<header id="header">
    <nav>
        {{- if not .Group.IsEmpty -}}
        <sl-icon-button id="members-toggler" name="people-fill"></sl-icon-button>
        {{- end}}
        <!-- TODO: implement search -->
    </nav>
    <nav>
        {{- template "partials/avatar-context-menu" .}}
    </nav>
</header>
