<header id="header">
    <nav>
        {{- if ne .Group nil}}
        <sl-icon-button id="members-toggler" name="people"></sl-icon-button>
        {{- end}}
        <!-- TODO: implement search -->
    </nav>
    <nav>
        {{- template "partials/avatar-context-menu" .}}
    </nav>
</header>
