{{- $this := . -}}
<main id="app-content">
    <div class="p-page">
        <h2 class="anchor-header">
            Groups
            <sl-button href="#new-group-dialog" size="small" variant="success">
                <sl-icon name="plus" slot="suffix"></sl-icon>
                Create
            </sl-button>
        </h2>
        <div class="flex flex-row gap-2 p-4">
            {{- $groupList = $this.User.GroupList -}}
            {{- $memberList = $this.User.MemberList -}}
            {{- range $i, $member := $memberList -}}
            {{- $group := index $groupList $i -}}
            {{- $rights := $member.Role -}}
            <a href="/chat/groups/{{$group.Id}}">
                <sl-card
                    id="my-group-{{$group.Id}}"
                    data-id="{{$group.Id}}"
                    class="group-card"
                >
                    <div class="group-card-header" slot="header">
                        <sl-avatar class="prefix" shape="rounded">
                            <sl-icon slot="icon" name="people-fill"></sl-icon>
                        </sl-avatar>
                        <div class="suffix">
                            <div class="groupname" title="{{$group.Moniker}}">
                                {{- $group.Moniker -}}
                            </div>
                            {{- /*TODO: ChangeGroup should be simple */}} {{- if
                            or $member.IsOwner $rights.ChangeGroup}}
                            <div class="group-actions">
                                {{template "partials/group-actions" $group}}
                            </div>
                            {{- end}}
                        </div>
                    </div>
                    {{$group.Description}}
                </sl-card>
            </a>
            {{- end -}}
        </div>
    </div>
</main>
