<main id="app-content">
    <div class="centered-main gap-5 flex flex-col items-center">
        <sl-avatar shape="rounded" style="--size: 5rem">
            <sl-icon slot="icon" name="people-fill"></sl-icon>
        </sl-avatar>
        {{- with .Group.Description -}}
        <div class="description">{{.}}</div>
        {{- end -}}
        <div class="question">Join to {{.Group.Moniker}} group?</div>
        <div class="aligned answers" hx-target="#error-group-join">
            <sl-button
                variant="success"
                outline
                hx-put="/groups/{{.Group.Id}}/join"
            >
                <sl-icon name="plus" slot="prefix"></sl-icon>
                Join
            </sl-button>
            <sl-button variant="danger" outline href="/chat">
                <sl-icon name="house" slot="prefix"></sl-icon>
                Stay
            </sl-button>
        </div>
        <div id="error-group-join"></div>
    </div>
</main>
