<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{- .Title -}}</title>
        <link rel="icon" href="/static/assets/logo.svg" type="image/svg+xml">
        {{- template "partials/scripts" . -}}
    </head>

    <body hx-ext="shoelace,debug">
        {{- template "partials/settings-dialog" . -}}
        {{- template "partials/new-group-dialog" . -}}
        {{- $this := . -}}
        {{- if not $this.Group.IsEmpty -}}
            {{- template "partials/group-settings-dialog" $this -}}
        {{- else -}}
            {{- $groupList = $this.User.GroupList -}}
            {{- $memberList = $this.User.MemberList -}}
            {{- range $i, $member := $memberList -}}
                {{- $group := index $groupList $i -}}
                {{- $rights := $member.Role -}}
                {{- if or ($rights.PermAdmin.Has) (and
                    (not $member.IsEmpty)
                    $rights.PermGroupChange.Has
                ) -}}
                    {{- template "partials/group-settings-dialog" (newMap "Group" $group) -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
        <div id="real-body">
            {{- template "partials/app-header" . -}}
            {{- if not .Group.IsEmpty -}}
                {{- if .Member.IsEmpty -}}
                    {{- template "partials/app-group-join" . -}}
                {{- else -}}
                    {{- template "partials/app-group" . -}}
                {{- end -}}
            {{- else -}}
                {{- template "partials/app-home" . -}}
            {{- end -}}
        </div>
    </body>
</html>
