<sl-dropdown placement="bottom-end">
    <sl-button id="avatar-button" variant="text" slot="trigger">
        <span class="moniker aligned h-full" title={{with .User.Moniker}}{{.}}{{end}}
        >{{if not .User.IsEmpty}}{{.User.Moniker}}{{else}}Guest{{end}}</span>
        <sl-avatar class="-mr-2 ml-4" slot="suffix"></sl-avatar>
    </sl-button>
    <sl-menu>
        {{- if not .User.IsEmpty -}}
            {{- if .IsChatPage -}}
            <a href="#settings-dialog">
                <sl-menu-item>
                    <sl-icon slot="prefix" name="gear"></sl-icon>
                    Settings
                </sl-menu-item>
            </a>
            {{- else -}}
            <a href="/settings">
                <sl-menu-item>
                    <sl-icon slot="prefix" name="gear"></sl-icon>
                    Settings
                </sl-menu-item>
            </a>
            {{- end -}}
        {{- end -}}
        <sl-menu-item class="theme-menu">
            <sl-icon slot="prefix" name="stars"></sl-icon>
            Theme
            <sl-menu slot="submenu">
                <sl-menu-item type="checkbox" value="sl-theme-dark">
                    <sl-icon slot="prefix" name="moon"></sl-icon>
                    Dark
                </sl-menu-item>
                <sl-menu-item type="checkbox" value="sl-theme-light">
                    <sl-icon slot="prefix" name="sun"></sl-icon>
                    Light
                </sl-menu-item>
                <sl-menu-item type="checkbox" value="system">
                    <sl-icon slot="prefix" name="display"></sl-icon>
                    System
                </sl-menu-item>
            </sl-menu>
        </sl-menu-item>

        <sl-divider></sl-divider>

        {{- if not .IsHomePage }}
        <a href="/">
            <sl-menu-item>
                <sl-icon slot="prefix" name="house-heart"></sl-icon>
                Home
            </sl-menu-item>
        </a>
        {{- end -}}
        {{- if not .User.IsEmpty -}}
        <sl-menu-item hx-put="/account/logout" hx-swap="innerHTML">
            <sl-icon slot="prefix" name="box-arrow-right"></sl-icon>
            Log Out
        </sl-menu-item>
        {{- else -}}
        <a href="#login-dialog">
            <sl-menu-item>
                <sl-icon slot="prefix" name="person-circle"></sl-icon>
                Log In
            </sl-menu-item>
        </a>
        {{- end}}
    </sl-menu>
</sl-dropdown>
