<sl-dialog label="Dialog" id="change-password-dialog">
    <span slot="label" class="aligned">
        <sl-icon name="lock"></sl-icon>
        Change password
    </span>
    <form
        id="change-password-form"
        name="change-password-form"
        hx-put="/account/change/password"
        hx-swap="innerHTML"
        hx-target="#change-password-error"
    >
        <sl-input
            autofocus
            label="Current password"
            type="password"
            id="current-password"
            name="change-password-current-password"
            required
            password-toggle
        >
        </sl-input>

        <sl-input
            label="New password"
            type="password"
            autocomplete="new-password"
            id="new-password"
            name="new-password"
            required
            password-toggle
        >
        </sl-input>
        <sl-input
            label="Confirm new password"
            type="password"
            autocomplete="off"
            id="confirm-new-password"
            name="confirm-password"
            required
            password-toggle
        >
        </sl-input>
        <div id="change-password-error"></div>
    </form>
    <div slot="footer" class="dialog-footer">
        <div>
            <sl-button
                form="change-password-form"
                variant="primary"
                type="submit"
            >Change password</sl-button>
        </div>
    </div>
</sl-dialog>
