<footer id="footer" role="navigation">
    <nav class="flex flex-col gap-2">
        <h6 class="footer-title flex items-center gap-2 text-white opacity-100 text-lg">
            Project <span class="brand-logo size-5 inline-block" aria-hidden="true"></span>
        </h6>
        <div class="flex flex-col gap-1 text-base">
            <a class="link link-hover flex items-center gap-2" href="{{.GitHubRepo}}" target="_blank" rel="noopener">
                <span class="icon icon-[simple-icons--github] size-4" aria-hidden="true"></span>
                Repository
            </a>
            <a class="link link-hover flex items-center gap-2" href="{{.GitHubRepo}}/issues" target="_blank" rel="noopener">
                <span class="icon icon-[lucide--message-square-text] size-4" aria-hidden="true"></span>
                Feedback
            </a>
            <a class="link link-hover flex items-center gap-2" href="/docs">
                <span class="icon icon-[lucide--file-text] size-4" aria-hidden="true"></span>
                Documentation
            </a>
            <a class="link link-hover flex items-center gap-2" href="/acknowledgements">
                <span class="icon icon-[lucide--heart-handshake] size-4" aria-hidden="true"></span>
                Acknowledgements
            </a>
        </div>
    </nav>
    <div class="absolute right-3 bottom-2 text-white/50 text-xs font-[monospace]">
        version: {{.DenoJson.Version}}{{if ne .GitJson.Hash ""}} ({{.GitJson.Branch}} <a
            class="text-white/80 underline"
            href="{{.GitHubCommit}}"
        >{{.GitJson.Hash}}</a>){{end -}}
    </div>
</footer>
