{{- if .User.IsEmpty -}}
<sl-dialog label="Dialog" id="login-dialog">
    <span slot="label" class="aligned">
        <sl-icon name="box-arrow-in-right"></sl-icon>
        Log In
    </span>
    <form
        id="login-form"
        name="login-form"
        hx-post="/account/login"
        hx-swap="innerHTML"
        hx-target="#login-error"
    >
        <sl-input
            autofocus
            label="Email"
            type="email"
            autocomplete="email"
            id="login-email"
            name="email"
            inputmode="email"
            required
        >
        </sl-input>
        <sl-input
            label="Password"
            type="password"
            autocomplete="current-password"
            name="password"
            id="login-password"
            required
            password-toggle
        >
        </sl-input>
        <div id="login-error"></div>
    </form>
    <div slot="footer" class="dialog-footer">
        <div>
            Not a member?
            <sl-button href="#signup-dialog">Sign Up</sl-button>
        </div>
        <div>
            <sl-button form="login-form" variant="primary" type="submit"
            >Log In</sl-button>
        </div>
    </div>
</sl-dialog>
{{- end}}
