<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>
        <link rel="icon" href="/static/assets/logo.svg" type="image/svg+xml">
        {{- template "partials/scripts" .}}
    </head>

    <body hx-ext="shoelace,debug">
        {{- template "partials/login-dialog" .}} {{- template
        "partials/signup-dialog" .}}
        <div id="real-body">
            {{- template "partials/header" .}} {{- if .CenterContent}}
            <main id="main" class="center-content">
                {{- embed}}
            </main>
            {{- else}}
            <main id="main">
                {{- embed}} {{- template "partials/footer" .}}
            </main>
            {{- end}}
        </div>
    </body>
</html>
