{{- if ne .User nil}}
<sl-dialog label="Dialog" id="new-group-dialog">
    <span slot="label" class="aligned">
        <sl-icon name="people"></sl-icon>
        Create new group
    </span>
    <form
        id="new-group-form"
        name="new-group-form"
        hx-post="/groups/create"
        hx-swap="outerHTML"
        hx-target="#new-group-error"
    >
        <sl-input
            autofocus
            label="Nick"
            type="text"
            id="new-group-nick"
            name="nick"
            required
        ></sl-input>
        <sl-input
            label="Name"
            type="text"
            autocomplete="username"
            id="new-group-name"
            name="name"
            required
        ></sl-input>
        <sl-input
            label="Password"
            password-toggle
            type="password"
            autocomplete="new-password"
            id="new-group-password"
            name="password"
        ></sl-input>
        <sl-textarea
            label="Description"
            id="new-group-description"
            name="description"
        ></sl-textarea>
        <sl-select
            label="Mode"
            id="new-group-mode"
            name="mode"
            value="public"
            required
        >
            <sl-option value="private">Private</sl-option>
            <sl-option value="public">Public</sl-option>
        </sl-select>
        <div id="new-group-error"></div>
    </form>
    <div slot="footer" class="dialog-footer">
        <div>
            <sl-button form="new-group-form" variant="primary" type="submit"
            >Create</sl-button>
        </div>
    </div>
</sl-dialog>
{{- end}}
