<div>
    <h2 class="anchor-header">
        <sl-icon name="palette"></sl-icon>
        Appearance
    </h2>
    <sl-select class="theme-menu" label="Theme">
        <sl-icon slot="prefix" name="circle-half"></sl-icon>
        <sl-option value="sl-theme-dark">
            <sl-icon slot="prefix" name="moon"></sl-icon>
            Dark
        </sl-option>
        <sl-option value="sl-theme-light">
            <sl-icon slot="prefix" name="sun"></sl-icon>
            Light
        </sl-option>
        <sl-option value="system">
            <sl-icon slot="prefix" name="display"></sl-icon>
            System
        </sl-option>
    </sl-select>
</div>
