<div>
    <h2 class="anchor-header">
        <sl-icon name="person-fill"></sl-icon>
        Account settings
    </h2>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="pen-fill"></sl-icon>
        Profile
    </h4>
    <form
        id="change-name-form"
        hx-put="/account/change/name"
        hx-swap="innerHTML"
        hx-target="#change-name-error"
    >
        <sl-input
            label="Moniker"
            type="text"
            id="new-moniker"
            name="new-moniker"
            value="{{.User.Moniker}}"
        ></sl-input>
        <sl-input
            label="Name"
            type="text"
            id="new-name"
            name="new-name"
            value="{{.User.Name}}"
        ></sl-input>
        <div id="change-name-error"></div>
        <div class="form-footer">
            <div>
                <sl-button
                    type="submit"
                    form="change-name-form"
                    variant="primary"
                >Save</sl-button>
            </div>
        </div>
    </form>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="mailbox2-flag"></sl-icon>
        Email
    </h4>
    <div class="flex justify-between">
        {{- hideEmail .User.Email -}}
        <sl-button variant="primary" href="/settings/email"
        >Change email</sl-button>
    </div>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="telephone-fill"></sl-icon>
        Phone
    </h4>
    <div class="flex justify-between">
        {{- if ne .User.Phone "" -}}
            {{- hidePhone .User.Phone -}}
        {{- else -}}
            None
        {{- end -}}
        <sl-button variant="primary" href="/settings/phone"
        >Change phone</sl-button>
    </div>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="lock-fill"></sl-icon>
        Password
    </h4>
    <div class="flex gap-2">
        <sl-button variant="primary" href="/settings/password"
        >Change password</sl-button>
    </div>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="exclamation-triangle-fill"></sl-icon>
        Danger zone
    </h4>
    <div class="flex gap-2">
        <sl-button variant="danger" href="/settings/delete"
        >Delete account</sl-button>
    </div>
</div>
