<div>
    <h2 class="anchor-header">
        <sl-icon name="person"></sl-icon>
        Account settings
    </h2>
    {{- template "partials/change-email-dialog" .}} {{- template
    "partials/change-password-dialog" .}} {{- template
    "partials/change-phone-dialog" .}} {{- template
    "partials/account-delete-dialog" .}}
    <h4 slot="header" class="anchor-header">
        <sl-icon name="pen"></sl-icon>
        Profile
    </h4>
    <form
        id="change-name-form"
        hx-put="/account/change/name"
        hx-swap="innerHTML"
        hx-target="#change-name-error"
    >
        <sl-input
            label="Moniker"
            type="text"
            id="new-moniker"
            name="new-moniker"
            value="{{.User.Moniker}}"
        ></sl-input>
        <sl-input
            label="Name"
            type="text"
            id="new-name"
            name="new-name"
            value="{{.User.Name}}"
        ></sl-input>
        <div id="change-name-error"></div>
        <div class="dialog-footer">
            <div>
                <sl-button
                    type="submit"
                    form="change-name-form"
                    variant="primary"
                >Save</sl-button>
            </div>
        </div>
    </form>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="mailbox"></sl-icon>
        Email
    </h4>
    <div class="flex justify-between">
        {{- hideEmail .User.Email -}}
        <sl-button variant="primary" href="#change-email-dialog"
        >Change email</sl-button>
    </div>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="telephone"></sl-icon>
        Phone
    </h4>
    <div class="flex justify-between">
        {{- if ne .User.Phone "" -}}
            {{- hidePhone .User.Phone -}}
        {{- else -}}
            None
        {{- end -}}
        <sl-button variant="primary" href="#change-phone-dialog"
        >Change phone</sl-button>
    </div>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="lock"></sl-icon>
        Password
    </h4>
    <div class="flex gap-2">
        <sl-button variant="primary" href="#change-password-dialog"
        >Change password</sl-button>
    </div>
    <h4 slot="header" class="anchor-header">
        <sl-icon name="exclamation-triangle"></sl-icon>
        Danger zone
    </h4>
    <div class="flex gap-2">
        <sl-button variant="danger" href="#account-delete-dialog"
        >Delete account</sl-button>
    </div>
</div>
