<sl-dialog label="Settings dialog" id="settings-dialog" class="fullscreen-base">
    <span slot="label" class="aligned">
        <sl-icon name="gear"></sl-icon>
        Settings
    </span>
    {{- template "partials/settings-account" . -}}
    {{- template "partials/settings-appearance" . -}}
</sl-dialog>
