{{- if .User.IsEmpty -}}
<sl-dialog label="Dialog" id="signup-dialog">
    <span slot="label" class="aligned">
        <sl-icon name="box-arrow-in-right"></sl-icon>
        Sign Up
    </span>
    <form
        id="signup-form"
        name="signup-form"
        hx-post="/account"
        hx-swap="innerHTML"
        hx-target="#signup-error"
    >
        <sl-input
            autofocus
            label="Nick"
            type="text"
            id="signup-moniker"
            name="moniker"
            required
        ></sl-input>
        <sl-input
            label="Name"
            type="text"
            autocomplete="username"
            id="signup-name"
            name="name"
            required
        ></sl-input>
        <sl-input
            label="Email"
            type="email"
            autocomplete="email"
            id="signup-email"
            name="email"
            inputmode="email"
            required
        ></sl-input>
        <sl-input
            label="Password"
            password-toggle
            type="password"
            autocomplete="new-password"
            id="signup-password"
            name="password"
            required
        >
        <sl-icon slot="show-password-icon" name="eye-fill"></sl-icon>
        <sl-icon slot="hide-password-icon" name="eye-slash-fill"></sl-icon>
        </sl-input>
        <sl-input
            label="Confirm password"
            password-toggle
            type="password"
            id="signup-confirm-password"
            autocomplete="off"
            name="confirm-password"
            required
        >
        <sl-icon slot="show-password-icon" name="eye-fill"></sl-icon>
        <sl-icon slot="hide-password-icon" name="eye-slash-fill"></sl-icon>
        </sl-input>
        <div id="signup-error"></div>
    </form>
    <div slot="footer" class="dialog-footer">
        <div>
            Already a member?
            <sl-button href="#login-dialog">Log In</sl-button>
        </div>
        <div>
            <sl-button form="signup-form" variant="primary" type="submit"
            >Sign Up</sl-button>
        </div>
    </div>
</sl-dialog>
{{- end}}
