<div class="text-3xl font-bold aligned select-none">
    {{- if isString .}} Under construction <sl-icon name="hammer"></sl-icon> -
    {{.}} {{- else}}
    <sl-icon name="exclamation-triangle"></sl-icon>
    {{.StatusCode}} - {{.StatusMessage}} {{- end}}
</div>
<div class="select-none">
    <sl-button variant="text" href="/">
        <sl-icon name="rocket" slot="prefix"></sl-icon>
        Landing page
    </sl-button>
    &middot;
    <sl-button variant="text" href="/chat">
        <sl-icon name="house" slot="prefix"></sl-icon>
        Open {{.AppName}}
    </sl-button>
</div>
