<div class="centered-main">
    <div class="text-3xl font-bold flex items-center gap-2 select-none mb-4">
        {{- if isString .}} Under construction <span class="icon icon-[lucide--hammer] size-6" aria-hidden="true"></span> -
        {{.}} {{- else}}
        <span class="icon icon-[lucide--triangle-alert] size-6" aria-hidden="true"></span>
        {{.StatusCode}} - {{.StatusMessage}} {{- end}}
    </div>
    <div class="select-none flex items-center gap-2">
        <a class="btn btn-ghost" href="/">
            <span class="icon icon-[lucide--rocket] size-4" aria-hidden="true"></span>
            Landing page
        </a>
        &middot;
        <a class="btn btn-ghost" href="/chat">
            <span class="icon icon-[lucide--house] size-4" aria-hidden="true"></span>
            Open {{.AppName}}
        </a>
    </div>
</div>