<div class="centered-main">
    <div class="text-3xl font-bold aligned select-none">
        {{- if isString .}} Under construction <sl-icon name="hammer"></sl-icon> -
        {{.}} {{- else}}
        <sl-icon name="exclamation-triangle-fill"></sl-icon>
        {{.StatusCode}} - {{.StatusMessage}} {{- end}}
    </div>
    <div class="select-none">
        <sl-button variant="text" href="/">
            <sl-icon name="rocket-fill" slot="prefix"></sl-icon>
            Landing page
        </sl-button>
        &middot;
        <sl-button variant="text" href="/chat">
            <sl-icon name="house-fill" slot="prefix"></sl-icon>
            Open {{.AppName}}
        </sl-button>
    </div>
</div>