<div class="api-docs m-5">
    {{- template "partials/info" newMap "Id" "private-groups-not-implemented" "Message" "This documentation created manually."}}

    {{- template "partials/docs-http-method" newMap "Method" "get" "Path" "/groups/:group_id/messages/page/:messages_page" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "get" "Path" "/groups/:group_id/members/page/:members_page" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "post" "Path" "/account/create" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "post" "Path" "/account/login" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "post" "Path" "/groups/create" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "post" "Path" "/groups/:group_id/messages/create" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "put" "Path" "/account/change/name" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "put" "Path" "/account/change/email" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "put" "Path" "/account/change/phone" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "put" "Path" "/account/change/password" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "put" "Path" "/account/logout" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "put" "Path" "/groups/:group_id/join" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "put" "Path" "/groups/:group_id/change" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "delete" "Path" "/groups/:group_id/leave" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "delete" "Path" "/groups/:group_id" "Description" ""}}
    {{- template "partials/docs-http-method" newMap "Method" "delete" "Path" "/account/delete" "Description" ""}}
</div>