<div class="api-docs m-page">
    <sl-tab-group placement="top">
        <sl-tab slot="nav" panel="rest" active>
            <div class="aligned"><sl-icon name="slash"></sl-icon>Rest API</div>
        </sl-tab>
        <sl-tab slot="nav" panel="gql">
            <div class="aligned"><sl-icon name="braces"></sl-icon>GraphQL</div>
        </sl-tab>
        <sl-tab-panel name="rest">
            {{- range $method, $methodRouteList := .Docs.HTTP}}
            <h2 class="anchor-header uppercase">{{$method}}</h2>
            {{- range $i, $methodRoute := $methodRouteList}}
            {{- template "partials/docs-http-method" $methodRoute}}
            {{- end}}
            {{- end}}
        </sl-tab-panel>
        <sl-tab-panel name="gql">
            {{- template "partials/docs-http-method" (newMap
            "Path" "/gql"
            "Method" "post"
            "Request" .GraphqlRequest
            "Response" "JSON response with content-type 'application/graphql-response+json'."
            )}}
            <h4 class="anchor-header">Fields</h4>
            {{- template "partials/docs-graphql-fields" .GraphqlFields}}
            {{- range $i, $type := .GraphqlTypes}}
            <h5 class="anchor-header">{{$type.Name}}</h5>
            {{- template "partials/docs-graphql-fields" $type.Fields}}
            {{- end}}
            <h4 class="anchor-header">Sandbox</h4>
            <div class="flex flex-row w-full p-2 gap-2">
                <sl-textarea id="gql-input" class="h-full w-full font-[monospace]" resize="auto"
                    help-text="Ctrl+Enter for sending." value="{{.GraphqlExample}}"></sl-textarea>
                <pre id="gql-output" class="w-full max-w-[50%]"></pre>
            </div>
            <script>
                let inp = document.getElementById('gql-input')
                let outp = document.getElementById('gql-output')
                inp.addEventListener('keydown', (event) => {
                    if (event.key !== 'Enter' || !event.ctrlKey) {
                        return
                    }
                    gqlSend(inp.value)
                })

                customElements.whenDefined('sl-textarea').then(() => gqlSend(inp.value))

                async function gqlSend(query) {
                    try {
                        const response = await fetch('/gql', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                query, // GraphQL expects a `query` property
                            }),
                        });

                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }

                        const result = await response.json();
                        outp.textContent = JSON.stringify(result, null, '  ');
                    } catch (error) {
                        outp.textContent = `Error: ${error.message}`;
                    }
                }
            </script>
        </sl-tab-panel>
    </sl-tab-group>
</div>