<div class="api-docs page-column m-page">
    <h1 class="anchor-header">
        GraphQL
        {{- template "partials/docs-switch" .}}
    </h1>
    {{- template "partials/docs-http-method" (newMap
    "Path" "/gql"
    "Method" "post"
    "Request" .GraphqlRequest
    "Response" "JSON response with content-type 'application/graphql-response+json'."
    )}}
    <h3 class="anchor-header">Fields</h4>
    {{- template "partials/docs-graphql-fields" .GraphqlFields}}
    {{- range $i, $type := .GraphqlTypes}}
    <h5 class="anchor-header">{{$type.Name}}</h5>
    {{- template "partials/docs-graphql-fields" $type.Fields}}
    {{- end}}
    <h2 class="anchor-header">Sandbox</h2>
    <template id="gql-example">
        {{- "query {\n" }}
        {{- "\tmembers(groupId: \"1\") {\n" }}
        {{- "\t\tid\n" }}
        {{- "\t\tname\n" }}
        {{- "\t}\n" }}
        {{- "}" }}
    </template>
    <div class="flex flex-col grid-cols-2 md:grid w-full p-2 gap-2">
        <div class="flex flex-col gap-2">
            <sl-textarea id="gql-input" class="h-full w-full font-[monospace]" resize="auto" value=""></sl-textarea>
            <sl-button id="gql-send" class="w-full">
                <sl-icon name="caret-right-fill"></sl-icon>
                <span class="note-header">
                    Ctrl+Enter
                </span>
            </sl-button>
        </div>
        <pre id="gql-output"></pre>
    </div>
</div>