<section class="super-sect relative flex items-center justify-center text-center py-16 h-screen">
    <div class="relative z-10">
        <h2 class="text-primary-600 text-6xl font-semibold mb-4">Start Chatting</h2>
        <p class="text-primary-800 mb-6">Join conversations instantly with Restapp.</p>
        <sl-button href="/chat" pill variant="primary" class="px-6 py-3">
            Open it in Your browser
        </sl-button>
    </div>
    <div class="super-sect-join from-transparent to-n100"></div>
</section>
<section class="super-sect-1">
    <sl-icon name="lightning-charge" class="text-yellow-500"></sl-icon>
    <div class="description">
        <h2 class="text-3xl font-semibold mb-4">Fast</h2>
        <p class="text-yellow-400 mb-6">Restapp allows you to do things fast: shortcuts, navigation and more...</p>
    </div>
    <div class="super-sect-join from-n100 to-n300"></div>
</section>
<section class="super-sect-2">
    <div class="description">
        <h2 class="text-3xl font-semibold mb-4">Public communities.</h2>
        <p class="text-blue-400 mb-6">Join your favorite fandom or create your own public community as a creator.</p>
    </div>
    <sl-icon name="people" class="text-blue-500"></sl-icon>
    <div class="super-sect-join from-n300 to-n100"></div>
</section>
<section class="super-sect-1">
    <sl-icon name="shield-lock" class="text-green-500"></sl-icon>
    <div class="description">
        <h2 class="text-3xl font-semibold mb-4">Privacy</h2>
        <p class="text-green-400 mb-6">Create private groups using a password or chat with your friends privately.</p>
    </div>
</section>
<section class="super-sect pt-28">
    <div class="super-sect-join from-n100 to-transparent top-0 bottom-auto"></div>
    <div class="relative z-10">
        <h2 class="text-primary-600 text-3xl font-semibold mb-4">Still not sure?</h2>
        <p class="text-primary-800 mb-6">Give it a try and start chatting now!</p>
        <sl-button href="/chat" pill variant="primary" class="px-6 py-3">
            Try Restapp
        </sl-button>
    </div>
</section>
<script>
    const superSectionList = document.querySelectorAll('section[class*=super-sect]')
    for (const superSection of superSectionList) {
        superSection.setAttribute("hx-trigger", "intersect")
        superSection.addEventListener("htmx:trigger", function() {
            superSection.classList.add('appeared')
        })
    }
</script>
