<aside class="sidebar p-0" id="left-navbar"> <!--set main p-0 please-->
    <div id="user-profile">
        <sl-button variant="primary" id="load-profile-button">
            Load Profile
        </sl-button>
    </div>
</aside>
<div id="center-content">
    <!--Heres main block i think-->
</div>

<!--
...Here was a js (shit) code, should implement using htmx, see CONTRIBUTING.md.

Heres the new plan and gui idea:

Header: avatar, groups, friends, settings - available through fullscreen dialog.
Center: chat
Bottom: input
Right or left: members and group/dm info

Settings: logout

-->