<div class="flex box-content justify-center items-center h-80vh w-screen pt-5 pb-8">
    <sl-card>
        <h1 slot="header">Login to Your Account</h1>
        <form id="loginForm" class="flex flex-col gap-4" hx-post="/login" hx-swap="textContent" hx-target="#error"
            hx-ext="json-enc">
            <div>
                <label for="email">Email</label>
                <sl-input type="email" id="email" name="email" required>
            </div>

            <div>
                <label for="password">Password</label>
                <sl-input type="password" id="password" name="password" required>
            </div>
            <div id="error"></div>
            <div>
                <sl-button type="submit">Login</sl-button>
            </div>
        </form>
    </sl-card>
</div>