@tailwind utilities;
@tailwind components;

@layer utilities {
    .limited {
        @apply overflow-hidden text-ellipsis;
    }

    .aligned {
        @apply relative flex items-center gap-2;
    }
}

@layer components {
    body:has(:not(:defined)) {
        visibility: hidden;
    }

    .real-body {
        @apply flex flex-col h-full overflow-auto text-neutral-300 dark:text-neutral-700;
        .center-content {
            @apply flex flex-col h-full w-full justify-center items-center;
        }
    }

    form, .column {
        @apply flex flex-col gap-4;
    }

    .anchor-header {
        @apply aligned relative p-2 border-neutral-200 font-bold;
        &:is(h1) {
            @apply text-4xl mx-4 mt-12 mb-6;
        }
        &:is(h2) {
            @apply text-3xl mx-3 mt-9 mb-5 border-b;
        }
        &:is(h3) {
            @apply text-2xl mx-3 mt-9 mb-4 border-b;
        }
        &:is(h4) {
            @apply text-xl mx-2 mt-7 mb-3 border-b;
        }
        &:is(h5) {
            @apply text-lg mx-2 mt-7 mb-2;
        }
        &:is(h6) {
            @apply text-base mx-1 mt-5 mb-1;
        }
    }

    code, pre {
        @apply border-neutral-200 border bg-neutral-50 rounded p-1;
    }

    pre {
        @apply overflow-auto;
    }

    table {
        @apply border-collapse;
        & > tbody {
            @apply border bg-neutral-50 rounded;
        }
        th, td {
            @apply p-2 border border-neutral-300 text-neutral-700;
        }
        th {
            @apply bg-neutral-200;
        }
    }

    .dialog-footer {
        @apply flex flex-col gap-2;
        div {
            @apply aligned flex justify-end items-center gap-2;
        }
    }

    .card-group-container {
        @apply h-80;
        .card-group {
            @apply aligned flex-row justify-start whitespace-nowrap overflow-x-auto;
            .group-card {
                &::part(base) {
                    @apply min-w-56 max-w-56 min-h-64 max-h-64 block overflow-hidden;
                }
                .group-card-header {
                    @apply aligned justify-between w-full overflow-hidden;
                    .suffix {
                        @apply flex w-full justify-end items-center flex-col overflow-hidden;
                    }
                }
                .groupname {
                    @apply w-full;
                }
                .group-actions {
                    @apply aligned w-full justify-end;
                }
            }
            a > .group-card {
                &::part(base) {
                    @apply cursor-pointer;
                }
                &:hover::part(base) {
                    --sl-panel-background-color: var(--sl-color-neutral-100);
                }
            }
        }
    }

    #content {
        @apply bg-neutral-50 flex flex-row h-full overflow-hidden;
    }

    .chat-body {
        @apply relative flex flex-col w-full h-full p-1;
    }

    .nickname, .groupname {
        @apply limited max-w-52;
    }

    #chat {
        @apply relative snap-y flex flex-col w-full h-full p-1 pb-6 overflow-y-auto overflow-x-hidden;
        .message {
            @apply relative snap-center bg-neutral-0 flex flex-col max-w-full rounded-md p-2 gap-1;
            .prefix {
                @apply aligned;
                sl-format-date {
                    @apply text-neutral-500;
                }
            }
            .text {
                @apply aligned pl-10;
            }
        }
        .message.join-start {
            @apply rounded-t-none;
        }
        .message.join-end {
            @apply rounded-b-none;
        }
        .hide-date {
            .prefix {
                @apply hidden;
            }
        }
        .message + .message:not(.join-start) {
            @apply mt-2;
        }
    }

    .chat-input {
        @apply aligned flex-col w-full p-5 pb-9 pt-6 h-fit gap-2;
        --sl-input-filled-background-color: var(--sl-color-neutral-200);
        --sl-input-filled-background-color-focus: var(--sl-color-neutral-0);
        --sl-input-filled-background-color-hover: var(--sl-color-neutral-300);

        & > * {
            @apply aligned flex-row w-full;
        }

        #send-message-error:not(:empty) {
            @apply p-1 text-white;
        }

        .box {
            @apply flex flex-col w-full rounded rounded-b-xl;
            &:has(#send-message-error:not(:empty)) {
                @apply bg-danger-500;
            }
        }

        .right {
            @apply flex flex-col;
        }

        .bottom {
            @apply h-7;
        }

        sl-textarea::part(textarea) {
            @apply max-h-20 overflow-auto;
        }
    }

    .chat-sidebar {
        @apply bg-neutral-100 flex flex-col p-3 gap-1 h-full w-56 visible max-[420px]:hidden;
        .tiny-divider, .member {
            @apply aligned p-1;
        }
        .tiny-divider {
            @apply text-blue-300;
        }
        .member {
            @apply aligned bg-black/[.1] rounded-md select-none overflow-hidden;
            .text {
                @apply aligned flex-col overflow-hidden w-full;
            }
        }
    }
}