@tailwind components;

@layer components {
    body:has(:not(:defined)) {
        visibility: hidden;
    }

    .h-line:empty::after {
        content: ".";
        visibility: hidden;
    }

    .real-body {
        @apply flex flex-col h-full overflow-auto;
        .center-content {
            @apply flex flex-col h-full w-full justify-center items-center;
        }
    }

    form, .column {
        @apply flex flex-col gap-4;
    }

    .aligned {
        @apply relative flex items-center gap-2;
    }

    .anchor-header {
        @apply aligned relative p-2 mx-4 mt-12 mb-6 border-b border-n200 font-bold;
        &:is(h1) {
            @apply text-4xl border-b-0;
        }
        &:is(h2) {
            @apply text-3xl;
        }
        &:is(h3) {
            @apply text-2xl;
        }
        &:is(h4) {
            @apply text-xl;
        }
    }

    .dialog-footer {
        @apply flex flex-col gap-2;
        div {
            @apply aligned flex justify-end items-center gap-2;
        }
    }

    .card-group-container {
        @apply h-72;
        .card-group {
            @apply aligned flex-row whitespace-nowrap overflow-x-auto;
            .group-card {
                &::part(base) {
                    @apply min-w-56 min-h-64 block;
                }
            }
            a > .group-card {
                &::part(base) {
                    @apply cursor-pointer;
                }
                &:hover::part(base) {
                    --sl-panel-background-color: var(--sl-color-neutral-100);
                }
            }
        }
    }

    #content {
        @apply bg-n50 flex flex-row h-full overflow-hidden;
    }

    .chat-body {
        @apply relative flex flex-col w-full h-full p-1;
    }

    #chat {
        @apply relative snap-y flex flex-col w-full h-full p-1 pb-6 overflow-y-auto overflow-x-hidden;
        .message {
            @apply relative snap-center bg-n0 flex flex-col max-w-full rounded-md p-2 gap-1;
            .prefix {
                @apply aligned;
                .nickname {
                    @apply text-blue-500;
                }
                sl-format-date {
                    @apply text-neutral-500;
                }
            }
            .text {
                @apply aligned pl-[2.25rem];
            }
        }
        .join {
            @apply visible;
        }
        .join + .message {
            @apply rounded-t-none;
            .prefix {
                .join.date {
                    @apply hidden;
                }
            }
        }
        .join.date + .message {
            .prefix {
                @apply hidden;
            }
        }
        .message:has(~ .join) {
            @apply rounded-b-none;
        }
        .message + .message {
            @apply mt-2;
        }
    }

    .chat-input {
        @apply aligned flex-col w-full p-4 pb-12 h-1/5;
        form {
            @apply aligned flex-row w-full;
            sl-input {
                --sl-input-filled-background-color: var(--sl-color-neutral-200);
                --sl-input-filled-background-color-focus: var(--sl-color-neutral-0);
                --sl-input-filled-background-color-hover: var(--sl-color-neutral-300);
                @apply w-full;
            }
        }
    }

    .chat-sidebar {
        @apply bg-n100 flex flex-col p-3 gap-1 h-full w-56 visible max-[420px]:hidden;
        .tiny-divider, .member {
            @apply aligned p-1;
        }
        .tiny-divider {
            @apply text-blue-300;
        }
        .member {
            @apply aligned bg-black/[.1] rounded-md select-none;
            .text {
                @apply aligned w-full overflow-hidden text-ellipsis;
                .nickname {
                    @apply text-blue-300;
                }
            }
        }
    }
}