@tailwind components;

@layer components {
    form, .column {
        @apply flex flex-col gap-4;
    }

    .aligned {
        @apply flex items-center gap-2;
    }

    .anchor-header {
        @apply aligned relative p-2 mx-4 mt-12 mb-6 border-b border-n200 font-bold;
        &:is(h1) {
            @apply text-4xl border-b-0;
        }
        &:is(h2) {
            @apply text-3xl;
        }
        &:is(h3) {
            @apply text-2xl;
        }
        &:is(h4) {
            @apply text-xl;
        }
    }

    .dialog-footer {
        @apply flex flex-col gap-2;
        div {
            @apply aligned flex justify-end items-center gap-2;
        }
    }

    .card-group-container {
        @apply h-72;
        .card-group {
            @apply aligned flex-row whitespace-nowrap overflow-x-auto;
            .group-card {
                &::part(base) {
                    @apply min-w-56 min-h-64 block;
                }
            }
            a > .group-card {
                &::part(base) {
                    @apply cursor-pointer;
                }
                &:hover::part(base) {
                    --sl-panel-background-color: var(--sl-color-neutral-100);
                }
            }
        }
    }

    .chat-body {
        @apply flex flex-col w-full h-full p-4;
        .chat-input {
            @apply aligned w-full p-4 pb-12;
            sl-input {
                --sl-input-filled-background-color: var(--sl-color-neutral-200);
                --sl-input-filled-background-color-focus: var(--sl-color-neutral-0);
                --sl-input-filled-background-color-hover: var(--sl-color-neutral-300);
                @apply w-full;
            }
        }
    }

    .chat-sidebar {
        @apply bg-n100 flex flex-col p-3 gap-1 h-full w-56 visible max-[420px]:hidden;
    }

    .tiny-divider {
        @apply aligned p-1 text-blue-300;
    }

    .member {
        @apply tiny-divider aligned bg-n50 p-1 rounded-md opacity-90 select-none text-blue-300;
        .text {
            @apply w-full;
        }
    }
}