@tailwind components;

@layer components {
    sl-menu > sl-divider {
        @apply border-b border-n200;
        &:last-child, &:first-child, sl-divider + sl-divider {
            @apply hidden
        }
    }
    sl-button.no-end::part(base) {
        padding-inline-end: 0;
    }
    sl-button.no-start::part(base) {
        padding-inline-start: 0;
    }
    sl-dialog.fullscreen-base::part(panel) {
        @apply w-screen h-screen border-r-0;
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
    }
}
