@tailwind components;

@layer components {
    sl-dialog.fullscreen-base::part(panel) {
        @apply w-screen h-screen border-r-0;
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
    }
}
