name: Cross-compilation

on:
    pull_request:
        types:
            - opened
            - synchronize
            - ready_for_review
    workflow_dispatch:

jobs:
    cross-compile:
        env:
            GOCACHE: ${{ github.workspace }}/dist/cache
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: denoland/setup-deno@v2
              with:
                  deno-version: ^v2.6
                  cache: true
            - name: Install deno dependencies
              run: |
                  deno install
            - name: Compile client
              run: |
                  deno task compile:client
            - uses: actions/setup-go@v6
              with:
                  go-version: "1.26.x"
            - name: Build binaries
              run: |
                  deno task compile:server:cross
                  deno task compile:server:cross dev
            - name: Upload server binaries
              uses: nanoufo/action-upload-artifacts-and-release-assets@v2
              with:
                  path: |
                      dist/server-*
