name: Release

on:
    workflow_dispatch:
        inputs:
            release_type:
                description: |
                    Select the release type. See CONTRIBUTING.md for details.
                required: true
                default: "from-commits"
                type: choice
                options:
                    - patch
                    - minor
                    - major
                    - release
                    - alpha patch
                    - alpha minor
                    - alpha major
                    - alpha release
                    - beta patch
                    - beta minor
                    - beta major
                    - beta release
            dry_run:
                description: |
                    Perform a dry run only (no release).
                required: false
                default: false
                type: boolean

jobs:
    release:
        env:
            GOCACHE: ${{ github.workspace }}/dist/cache
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        permissions:
            contents: write
            packages: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  ref: ${{ github.head_ref }}
                  token: ${{ secrets.GITHUB_TOKEN }}
                  repository: ${{ github.repository }}
            - name: Set Git origin
              run: |
                  git config --global user.name "github-actions"
                  git config --global user.email "github-actions@github.com"
                  git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
            - uses: denoland/setup-deno@v2
              with:
                  deno-version: ^v2.5
                  cache: true
            - name: Install deno dependencies
              run: |
                  deno install --allow-scripts
            - name: Compile client
              run: |
                  deno task compile:client
            - name: Dry run
              run: |
                  deno task release --dry-run ${{ github.event.inputs.release_type }}
            - uses: actions/setup-go@v5
              with:
                  go-version: "1.25.x"
            - name: Build binaries
              run: |
                  deno task compile:server:cross
            - name: Increment and release
              if: ${{ !github.event.inputs.dry_run }}
              run: |
                  deno task release ${{ github.event.inputs.release_type }}
